/* Just some CSS for printing this page, dawg. Best believe. */
@media print {
	.Backdrop,
	.Photo,
	.Profile h3,
	.Profile .Info header > p,
	.Email span a,
	.Twitter,
	.Negative,
	.Resume .About,
	.Resume .Experience > p,
	.Resume button,
	footer,
	#layerNeko0 {
		display:none;
	}

	.Content, .Profile {
		margin-top:0;
	}

	.Profile .Info {
		float:none;
	}

	.Profile .Info header {
		float:left;
		width:40%;
	}

	.Profile .Info .Attributes {
		float:right !important;
		width:60%;
		text-align:right;
	}

	.Profile .Info .Address,
	.Profile .Info .Contact {
		float:none;
		margin:0;
	}

	.Profile .Info .Attributes ul {
		line-height:1.25em;
	}

	.Profile .Info .Contact ul li label {
		float:none;
	}

	body {
		font-size:10pt !important;
	}

	p {
		margin:10pt 0 13pt;
	}

	h1 {
		margin:10pt 0 6pt;
		font-size:32pt !important;
	}

	h2 {
		margin:0 0 10pt !important;
		font-size:16pt !important;
	}

	h3 {
		margin:0 0 10pt !important;
		font-size:14pt !important;
	}

	.Resume h2 {
		padding-bottom:6pt;
	}

	.Resume h3 {
		margin:0 0 6pt !important;
	}

	h4, h5, h6 {
		font-size:13pt !important;
		margin:0 0 6pt !important;
	}

	ul {
		font-size:12pt !important;
		margin:10pt 0 10pt !important;
	}

	.Wrapper {
		padding-bottom:10pt !important;
	}

	.Email span:before {
		content:"root@graham-robertson.ca";
		position:relative;
		top:-1px;
	}

	.Resume > .Wrapper > div {
		margin-bottom:10pt;
	}

	.Skills ul {
		padding-left:30pt !important;
		line-height:1.5em !important;
	}

	.Skills ul li {
		margin:0 0 6pt !important;
	}

	.Skills ul li:before {
		content:"-" !important;
		color:#aaa !important;
		left:-1em !important;
	}

	.Job {
		margin:0 !important;
	}
}
