/* Just some CSS for printing this page, dawg. Best believe. */
@media print {
	.Backdrop,
	.Photo,
	.Profile .Info > p,
	.Email span a,
	.Twitter,
	.Negative,
	.Resume .About,
	.Resume .Experience > p,
	.Resume button,
	footer {
		display:none;
	}

	.Content, .Profile {
		margin-top:0;
	}

	body {
		font-size:10pt !important;
	}

	p {
		margin:10pt 0 13pt;
	}

	h1 {
		margin:10pt 0 6pt;
		font-size:34pt !important;
	}

	h2 {
		margin:0 0 10pt !important;
		font-size:18pt !important;
	}

	h3 {
		margin:0 0 10pt !important;
		font-size:16pt !important;
	}

	.Resume h3 {
		margin:0 0 6pt !important;
	}

	h4, h5, h6 {
		font-size:13pt !important;
		margin:0 0 6pt !important;
	}

	ul {
		font-size:12pt !important;
		margin:10pt 0 10pt !important;
	}

	.Wrapper {
		padding-bottom:10pt !important;
	}

	.Email span:before {
		content:"root@graham-robertson.ca";
		position:relative;
		top:-1px;
	}

	.Resume > .Wrapper > div {
		margin-bottom:10pt;
	}

	.Skills ul {
		padding-left:30pt !important;
		line-height:1.5em !important;
	}

	.Skills ul li {
		margin:0 0 6pt !important;
	}

	.Skills ul li:before {
		content:"-" !important;
		color:#aaa !important;
		left:-1em !important;
	}

	.Job {
		margin:0 !important;
	}
}