body {
    background-color:#F3D527;
    color:#303838;
    font-family:ZillaSlab;
    padding:0;
    margin:0;
}

body > article {
    padding:40pt 30pt;
}

h1 {
    font-family:"Yeseva One";
    line-height:0.85em;
    letter-spacing:-0.06125em;
    font-weight:normal;
}

#main h1 {
    font-size:12vw;
}

h1 span.r {
    position:relative;
    top:-0.1em;
}

h1 span.a1 {
    position:relative;
    top:0.05em;
}

h1 span.a2 {
    position:relative;
    top:-0.025em;
}

h1 span.m {
    position:relative;
    top:-0.08125em;
}

h1 span.o {
    position:relative;
    top:-0.15em;
}

h1 span.t {
    position:relative;
    top:-0.15em;
}

h1 span.son {
    position:relative;
    top:-0.08125em;
    left:0.05em;
}
